<!doctype html>
<html lang="en">
	<head>

		<title>API Practice</title>

	</head>
	<body>

        <!-- Gallery HTML -->
        <div id="addForm">
            <form role="form" id="form-container">
                <h2 class="text-center text-primary">Pokemon Data</h2>
                <label for="searchField"><b>Name</b></label>
                <input id="searchField" type="text" #pokemon placeholder="Enter the Pokemon's name or number" ngModel>
                <div id="buttons">
                    <span class="input-group-text" (click)="addPoke(pokemon.value)">Add</span>
                </div>
            </form>
        </div>

		<ul id="pokemon"></ul>

		<!-- Javascript -->
		<script type="text/javascript" src="index.js"></script>

	</body>
</html>