<!doctype html>
<html lang="en">
	<head>

		<title>API Practice</title>

	</head>
	<body>

        <!-- Gallery HTML -->
        <div class="container text-center" id="addForm">
            <form role="form" class="jumbotron" id="form-container">
                <h2 class="text-center">Pokemon Database</h2>
                <div class="input-group-prepend">
                  <input id="searchField" type="text" #pokemon placeholder="Enter the Pokemon's name or number" ngModel>
                </div>
                <div class="btn-group" id="buttons">
                  <button id="searchBtn" class="input-group-text" (click)="addPoke(pokemon.value)">Catch 'Em</button>
                  <button id="randBtn" class="input-group-text" (click)="randPoke()">Random</button>
                </div>
            </form>
        </div>

    <div id="info_container">
      <h2 id="titleName"></h2>
      <div class="list-inline container" id="pokemon"></div>
    </div>
    <button class="input-group-text" id="moreInfo" (click)="moreInfo(pokemon.value)">More Info</button>

	</body>
</html>