@import url("https://use.typekit.net/zqw3izn.css");
body {
    font-family: 'griffith-gothic-condensed', sans-serif !important;
    font-weight: 700;
    font-style: normal;
    padding: 20px;
    margin: 0;
    background-color: #d5d8e5 !important;
    color: #5a5353 !important;
}
form {
    max-width: 50em;
    margin: 1em auto;
}
.jumbotron {
    background-color: #ADBAF5 !important;
    border-radius: 20px !important;
    padding: 20px !important;
}
#form-container h2 {
    margin-bottom: 50px;
}
#searchField {
    width: 75%;
    margin: 0 auto;
    border-radius: 10px;
    padding-left: 5px;
}
#titleName {
    text-align: center;
    display: block;
    text-transform: capitalize;
}
.p_name {
    font-size: 3rem;
}
#moreInfo {
    max-width: 25em;
    margin: 1em auto;
    visibility: hidden;
    background-color: #ADBAF5 !important;
    border: none;
    cursor: pointer;
}
.img_div {
    position: relative;
    float: left;
}
.img_div:nth-of-type(2) {
    float: right;
    margin-left: 200px;
}
.sml_img_div {
    float: left;
    position: relative;
}
.img_txt {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #ADBAF5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.type {
    text-align: center;
    position: absolute;
    padding: 10px;
}
img {
    min-width: 200px;
    background-color: #ADBAF5;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    float: left;
}
.lrg_image {
    min-width: 300px;
    display: block;
    margin-top: -50px;
}
.sml_image {
    min-width: 200px;
    display: block;
    margin: 10px;
    margin-top: 50px;
}
.list-inline {
    display: flex;
    justify-content: center;
}
.list-inline p {
    text-align: center;
    padding-top: 20px !important;
    margin-bottom: -5px !important;
}
.list-inline h4 {
    text-align: center;
}
.input-group-text {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-left: 20px;
    justify-content: center;
    background-color: #d5d8e5 !important;
    border-radius: 20px !important;
    box-shadow: 2px 2px;
}
.input-group-text.smaller {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: center;
    background-color: #d5d8e5 !important;
    border-radius: 20px !important;
    box-shadow: 2px 2px;
}
#searchBtn {
    cursor: pointer;
}
#randBtn {
    cursor: pointer;
}
section {
	position: relative;
	max-width: 1000px;
	margin: 5rem auto;
}